name: "Build and Push Plex TypeScript SDK"

on:
  push:
    branches:
      - main
    paths:
      - referenced/**
  workflow_dispatch:

jobs:
  push_spec_workflow:
    name: Build and push typescript SDK
    runs-on: ubuntu-latest
    steps:
      # Checkout the master branch request to run rsync
      - name: Checkout PR branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # Checkout the main branch of api-specs
      - name: Checkout API Specs Repo
        uses: actions/checkout@v3
        with:
          repository: LukeHagar/plexjs
          path: sdk-ts
          ref: main

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Build PMS
        id: buildPMS
        run: |
          cd sdk-ts
          rm -rf plexjs/pms
          java -jar openapi-generator-cli.jar generate -i ../pms/pms-spec.yaml -g typescript-axios -o plexjs/pms --global-property skipFormModel=false --config sdk-resources/pms-config.yaml

      - name: Build TS SDK
        id: buildPTV
        if: steps.buildPMS.outcome == 'success'
        run: |
          cd sdk-ts
          rm -rf plexjs/plextv
          java -jar openapi-generator-cli.jar generate -i ../plextv/plextv-spec.yaml -g typescript-axios -o plexjs/plextv --global-property skipFormModel=false --config sdk-resources/plextv-config.yaml

      - name: Run npm install and build Typescript SDK
        id: buildSDK
        if: steps.buildPTV.outcome == 'success'
        run: |
          cd sdk-ts/plexjs
          npm install
          npm run build

      - name: After SDK Build
        if: steps.buildSDK.outcome == 'success'
        run: |
          cd sdk-ts
          git config --unset-all http.https://github.com/.extraheader
          git config --local user.email "Lukeslakemail@gmail"
          git config --local user.name "GitHub Action Bot"
          git add .
          git commit -m "Automated build '${{ github.event.head_commit.message }}' typescript-axios sdk: ${{ github.run_id }}"
          git status
          git remote set-url origin https://${{secrets.API_SPEC_PAT}}@github.com/LukeHagar/plexjs.git
          git remote -v
          git push
