name: Generate SDKs using liblab

on:
  push:
    branches:
      - main
    paths:
      - plex-media-server-spec-dereferenced.yaml
  # Add any other triggers you want here, such as a push to the spec file
  workflow_call:
  workflow_dispatch:

jobs:
  build-and-pr:
    name: Generate SDKs and create PRs
    runs-on: ubuntu-latest
    env:
      LIBLAB_TOKEN: ${{ secrets.LIBLAB_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.SDK_TOKEN }}
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: "18" # Specify the node version you want to use

      - name: Install liblab
        run: npm install -g liblab

      - name: Validate Config and Spec
        run: liblab validate

      - name: Start Build
        run: liblab build --skip-validation --approve-docs

      - name: Create PRs to GitHub repos
        run: liblab pr
